
.nav {
    width: 100%;
    background-color: #5C2626;
    padding: 50px;
    border-bottom: 5px solid #FFD6B6;
}

.logo {
  
    font-size: 70px;
}

h1,
h2 {
    font-family: 'Raleway', sans-serif;

}

h1 {
    color: #Fff;
    padding: 20px;
}

.frase-inicio {
    text-align: center;
    background-color: #D3756B;
    height: 130px;
}

.text-inicio {
    padding: 35px;

}

.tipo-producto1 {
    border: 10px solid white;
    height: 350px;
    text-align: center;
    line-height: 0.40;
}

.img1 {
    width: 200px;
    height: 240px;
    margin-bottom: 0.50rem;
    float: center;
}
